{% extends "base.html" %}
{% block content %}
<div class="game-stats">
    <h1>{{ game.title }}</h1>
    <div class="game-informations">
        <div class="game-text">
            <p>{{ game.description }}</p>
            <p>Price: {{ game.price }}</p>
        </div>
        <img src="{{ game.image_url }}" alt="{{ game.name }}" class="game-image">
    </div>
    <a href="{{ url_for('add_to_cart', gameTitle=game.title) }}">Add to Cart</a>
    <a href="{{ url_for('reviews', gameTitle=game.title) }}">View Reviews</a>
    <form action="{{ url_for('reviews', gameTitle=game.title) }}" method="post">
        <textarea name="review" placeholder="Leave a review"></textarea>
        <button type="submit">Submit Review</button>
    </form>
</div>

{% endblock %}
